.foodmenu {
    background: $tertiary-color;
    padding: 3rem 0;

    h2 {
        text-align: center;
        font-size: 1.8rem;
    }

    /*
        List container
    */

    &__list {
        display: flex;
        flex-direction: column;
        padding: 2rem;
        margin: 2rem;

        @media (min-width: $medium-size) {
            margin: 5rem;
        }

        /*
            Single items
        */

        .menu__item {
            position: relative;
            margin: .5rem 0;
            display: inline-flex;
            padding: 0 0 .5rem;
            border-bottom: 1px dotted Black;

            @media (min-width: $medium-size) {
                border: none;
                padding: 0;
            }

            .dots {
                flex: auto;
                margin: 0 2px 5px;

                @media (min-width: $medium-size) {
                    border-bottom: 2px dotted Black;
                }
            }
            &--name {
                font-weight: bold;
                font-size: 1.2rem;
            }
            &--price {
                align-self: flex-end;
                font-size: 1.2rem;

                @media (min-width: $medium-size) {
                    font-weight: 400;
                }
            }
            &--description {
                //flex: 0 1 100%;
                font-style: italic;
                border-top: .1rem solid Black;
                margin-top: .2rem;
            }
        }
    }
}