.footer {
    background: $primary-color;
    width: 100vw;

    @media (min-width: $medium-size) {
        display: none;
    }
    
    &__list {
        display: flex;
        margin: 0;
        padding: 0;
        justify-content: space-between;

        &--item {
            padding: 1rem;
        }
    }
}