.footer {
    background: $primary-color;
    width: 100vw;
    
    &__list {
        display: flex;
        margin: 0;

        &--item {
            padding: .5rem;

            @media (min-width: $medium-size) {
                padding: 1rem;
            }
        }
    }
}