@import 'components/footer.scss';
@import 'components/header.scss';
@import 'components/hero.scss';
@import 'components/maps.scss';
@import 'components/menu.scss';


body {
    margin: 0;
}

.fullwidth {
    width: 100vw;
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

h1, h2, h3, p {
    margin: 0;
}