$primary-color: #DFA484;
$secondary-color: #FFF7F1;
$tertiary-color: #BCA79D;

$medium-size: 768px;

@import 'components/footer.scss';
@import 'components/header.scss';
@import 'components/hero.scss';
@import 'components/maps.scss';
@import 'components/drinkmenu.scss';
@import 'components/foodmenu.scss';

/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background: $secondary-color;
    margin: 0;
    overflow-x: hidden;
    font-family: 'Open Sans', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.fullwidth {
    width: 100vw;
    min-width: 320px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.centered {
    max-width: 980px;
    margin: auto;
    box-sizing: border-box;
}

ul {
    list-style: none;
    box-sizing: border-box;
}

h1, h2, h3, p {
    margin: 0;
}